
<h1 class="text-center">Pimp a Duck</h1>

<div class="row justify-content-center">
  <%= simple_form_for [ @duck ] do |f| %>
    <%= f.label :name, "Name:" %>
    <div class="p-3">
      <%= f.text_field :name %>
    </div>
    <%= f.label :age, "Age:" %>
    <div class="p-3">
      <%= f.text_field :age %>
    </div>
    <%= f.label :description, "Description:" %>
    <div class="p-3">
      <%= f.text_area :description, data: { editor: 'markdown' }, rows: 10 %>
    </div>
    <%= f.label :nationality, "Nationality:" %>
    <div class="p-3">
      <%= f.text_field :nationality %>
    </div>
    <div class="p-3">
      <%= f.input :photo, as: :file, type: "btn btn-primary" %>
    </div>
    <div class="p-3">
      <%= f.submit "Pimp That Duck!", class: "btn btn-primary" %>
    </div>
<% end %>
</div>
