
<div class="text-center">
  <%= cl_image_tag @duck.photo.key, class: "text-center avatar-profile-xlarge" %>
</div>


<p class="text-center">
  <strong>Name:</strong>
  <%= @duck.name %>
</p>

<p class="text-center">
  <strong>Nationality:</strong>
  <%= @duck.nationality %>
</p>

<p class="text-center">
  <strong>Age:</strong>
  <%= @duck.age %>
</p>

<p class="text-center">
  <strong>Description:</strong>
  <%= @duck.description %>
</p>

<div class="text-center">
  <%= link_to 'Book this duck', new_duck_booking_path(@duck) %>
</div>
&nbsp;
<div class="text-center">
  <%= link_to 'Back', ducks_path %>
</div>
