<p>
  <%= image_tag @duck.photo, :class => "avatar-xlarge" %>
</p>
        <% byebug %>
<p>
  <strong>Name:</strong>
  <%= @duck.name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @duck.nationality %>
</p>

<p>
  <strong>Age:</strong>
  <%= @duck.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @duck.description %>
</p>

<%= link_to 'Book this duck', new_duck_booking_path(@duck), class: "nav-link" %>

<%= link_to 'Back', ducks_path %>
