<p>
  <strong>Name:</strong>
  <%= @duck.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @duck.photo %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @duck.nationality %>
</p>

<p>
  <strong>Age:</strong>
  <%= @duck.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @duck.description %>
</p>

<%= link_to 'Back', ducks_path %>
