<p class="text-center">
  <%= image_tag @duck.photo, :class => "avatar-profile-xlarge" %>
</p>

<p class="text-center">
  <strong>Name:</strong>
  <%= @duck.name %>
</p>

<p class="text-center">
  <strong>Nationality:</strong>
  <%= @duck.nationality %>
</p>

<p class="text-center">
  <strong>Age:</strong>
  <%= @duck.age %>
</p>

<p class="text-center">
  <strong>Description:</strong>
  <%= @duck.description %>
</p>

<div class="text-center">
  <%= link_to 'Book this duck', new_duck_booking_path(@duck) %>
</div>
<div class="text-center">
  <%= link_to 'Back', ducks_path %>
</div>
